// colors
$off-black: #000302;
$orange: rgba(246, 146, 51, 1);
$red: rgb(204, 51, 50);
$white: rgb(255, 255, 255);
$yellow: rgba(244, 188, 0, 1);


// spacing
$s-size: 1.2rem;
$ms-size: 1.6rem;
$m-size: 2rem;
$ml-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 7.8rem;
$xxxl-size: 12rem;